.container {
    max-width: 1000px; /* İçeriğin maksimum genişliği */
    width: 100%; /* Navbar'ın genişliği */
    height: 100%;
    display: grid;
    justify-items: center;
  }
  
 .gallery {
    width: 100%; /* Navbar'ın genişliği */
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 10px;
    justify-items: center;
    margin: auto;
  }