.navbar {
  position: sticky;
  top: 0;
  width: 100%;
  height: 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 50px;
}

.logo {
  display: flex;
  align-items: center;
}

.logo-img {
  width: 270px;
  height: 25px;
  object-fit: contain;
}

.navbar-content {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.logged-user {
  display: flex;
  align-items: center;
  border-radius: 999px;
  cursor: pointer;
  border: 1px solid #444;
  padding: 6px 12px;
  gap: 10px;
}

.navbar-img {
  width: 36px;
  height: 36px;
  border-radius: 50%;
  object-fit: cover;
  border: 2px solid #333;
}

.user-info {
  display: flex;
  flex-direction: column !important;
  justify-content: center;
}

.username {
  color: var(--color-text);
  font-weight: 600;
  font-size: 14px;
  white-space: nowrap;
}

.user-badge {
  color: var(--color-primary-button);
  font-size: 12px;
  font-weight: 600;
}

.navbar p {
  text-transform: uppercase;
  font-weight: 600;
  font-size: 16px;
  cursor: pointer;
  color: var(--color-text);
  transition: color 0.25s ease;
  position: relative;

  margin-left: 20px;
  font-family: GraphikWeb, -apple-system, BlinkMacSystemFont, "Segoe UI",
    "Hiragino Sans", Meiryo, sans-serif, ColorEmoji;
}

.navbar p:hover {
  color: #e7eeee;
}

.nav-links {
  display: flex;
  gap: 20px;
}

.nav-item {
  position: relative;
  font-size: 18px;
  color: black;
  transition: color 0.3s ease;
  margin-left: 30px;
  margin-right: 30px;
}

.nav-item::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -5px;
  width: 0;
  height: 2px;
  background-color: var(--color-primary-button);
  transition: width 0.3s ease;
}

.nav-item:hover::after {
  width: 100%;
}

.nav-item:hover {
  color: var(--color-primary-button);
}

.modal-backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 999;
}

.modal {
  background: white;
  padding: 2rem;
  border-radius: 10px;
  min-width: 300px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
}
