body,
html {
  display: flex;
  justify-content: center;
  background-color: #1e242b;
}

.App {
  width: 1000px; /* %50 genişlik */
  padding: 20px; /* İç boşluk */
  background-color: #1e242b;
}

.App h2 {
  text-align: center;
  font-size: 2rem;
  line-height: 1.23076923;
  color: #abc;
  font-family: Graphik-Light-Web, sans-serif;
  font-weight: 400;
  margin: 0 0 2.46153846rem;
}

.App a {
  text-align: center;
  font-size: 2rem;
  line-height: 1.23076923;
  color: #abc;
  font-family: Graphik-Light-Web, sans-serif;
  font-weight: 400;
  margin: 0 0 2.46153846rem;
}

.App a:hover {
  color: rgb(58, 63, 68);
}

.App p {
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  font-size: large;
}
