body, html {
  display: flex;
  justify-content: center;
  background-color: #3B6790;
}

.App {
  width: 90%; /* %50 genişlik */
  padding: 20px; /* İç boşluk */
  background-color: #3B6790;
}

.App h2 {
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 2rem;
  line-height: 1.23076923;
  color: #abc;
  font-family: Graphik-Light-Web, sans-serif;
    font-weight: 400;
    text-align: center;
    margin: 0 0 2.46153846rem;
}

.App p {
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  font-size: large;
}
