body,
html {
  display: flex;
  justify-content: center;
  background-color: var(--color-background);
}

hr {
  background-color: var(--line-color);
}

:root {
  --color-primary: #1e90ff;
  --color-accent: #fcd34d;
  --color-text: #1a1a1a;

  --line-color: #445;
  --color-background: #1e242b;
  --color-primary-button: #fbc401;
  --color-button-hover: #e0a800;
  --color-input-background: #2f2f2f;
}

.App {
  width: 1000px; /* %50 genişlik */
  padding: 20px; /* İç boşluk */
}

.App h2 {
  text-align: center;
  font-size: 2rem;
  color: #abc;
  font-family: Graphik-Light-Web, sans-serif;
  font-weight: 400;
}

.App a {
  text-align: center;
  font-size: 2rem;
  color: #abc;
  font-family: Graphik-Light-Web, sans-serif;
  font-weight: 400;
  margin: 0 0 2.46153846rem;
}

.App a:hover {
  color: var(--color-secondary);
}
