.review-section {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.review-section h2 {
  text-align: left;
  font-family: Graphik-Regular-Web, sans-serif;
  font-weight: 400;
  font-size: 1rem;
  color: #9ab;
  text-transform: uppercase;
  letter-spacing: 0.075em;
  margin-top: 0;
}

.review-section hr {
  width: 100%;
  height: 1px;
  border: none;
  margin-top: 0.5rem; /* azalt veya 0 yap */
}

.review-card {
  display: flex;
  gap: 16px;
  border-bottom: 1px solid var(--color-secondary-text);
  padding-bottom: 16px;
}

.review-cover {
  width: 80px;
  height: 100px;
  border-radius: 4px;
}

.review-content {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.review-header {
  margin-bottom: 4px;
}

.review-title {
  font-size: 2rem;
  color: white;
  margin: 0;
}

.review-meta {
  font-size: 0.9rem;
  color: #666;
}

.review-rating-row {
  display: flex;
  flex-direction: row;
  font-size: 0.9rem;
  margin-bottom: 8px;
  color: #444;
}

.review-comment {
  line-height: 1.5;
  margin-bottom: 1em;
  color: #9ab;
  font-family: GraphikWeb, -apple-system, BlinkMacSystemFont, Segoe UI,
    Hiragino Sans, Meiryo, sans-serif, ColorEmoji;
  font-weight: 400;
}

.review-title-line {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 6px;
}

.review-title {
  font-size: 2rem;
  color: white;
  margin: 0;
}

.release-date,
.author-name {
  font-size: 1.34615385rem;
  font-family: GraphikWeb, -apple-system, BlinkMacSystemFont, Segoe UI,
    Hiragino Sans, Meiryo, sans-serif, ColorEmoji;
  font-weight: 300;
  color: #9ab;
  margin-inline-start: 0.4em;
}

.review-rating-row {
  display: flex;
  align-items: center;
  gap: 16px;
  font-size: 1rem;
  margin-bottom: 8px;
  color: #ffc107; /* y覺ld覺z sar覺s覺 */
}

.review-date {
  --item-gap: 0.5em;
  --content-color: #678;
  font-family: GraphikWeb, -apple-system, BlinkMacSystemFont, Segoe UI,
    Hiragino Sans, Meiryo, sans-serif, ColorEmoji;
  font-weight: 400;
  font-size: var(--font-size, 0.92307692rem);
  line-height: 1.5;
  white-space: nowrap;
  color: var(--content-color, #678);
}
