.frame-block {
  margin-top: 32px;
  width: 100%;
}

.frame-block > p {
  text-align: left;
  font-family: var(--font-sans);
  font-weight: 600;
  font-size: 0.8rem;
  color: var(--color-text-secondary);
  text-transform: uppercase;
  letter-spacing: 0.12em;
  margin: 0 0 12px 0;
}

.frame-block hr {
  margin: 0 0 20px 0;
}
