.profile-image {
  flex-shrink: 0; /* Resmin küçülmesini önler */
}

.profile-img {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  object-fit: cover;
}

.navbar-img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  object-fit: cover;
  border: 2px solid #554e4e;
}
